<div class="wraper">
    <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    NEWSPEED
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/newspeed-a">
                        <i class="nc-icon nc-chart-pie-35"></i>
                        <p>뉴스피드</p>
                    </a>
                </li>
                <li>

                    <a class="nav-link" routerLink="/newspeed-b">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>내 프로필</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/newspeed-c">
                        <i class="nc-icon nc-notes"></i>
                        <p>나의 타임라인</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>