<p>
  newspeed-page works!
</p>
<body>
  <app-nav-bar> </app-nav-bar>
  <section class="masthead2" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white" style="font-weight: 600; font-size: 300%">KUMOH SMART</h2>
          <p class="text-faded mb-4">Kumoh National Institute of Technology SNS</p>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-lg-3">
      <app-newspeed></app-newspeed>
    </div>
    <div class="col-lg-9">
      asd
    </div>
  </div>

</body>