
  body {
    font-family: Tahoma;
  }
  header {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: .25rem;
    color: white;
  }
  #calendar {
    width: 100%;
  }
  #calendar a {
    color: white;
    text-decoration: none;
  }
  #calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #calendar li {
    display: block;
    float: left;
    width: 14.342%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  #calendar ul.weekdays {
    height: 40px;
    background: #36288a;
  }
  #calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #d3d3d3;
    font-size: 13px;
  }
  #calendar .days li {
    height: 180px;
  }
  #calendar .days li:hover {
    background: #d3d3d3;
  }
  #calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #d3d3d3;
    width: 20px;
    border-radius: 50%;
    float: right;
  }
  #calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
  }
  #calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
  }
  #calendar .other-month {
    background: #666;
    color: #666;
  }

  #calendar .day {
    background: white;
    color: #666;
  }
  /* ============================
                  Mobile Responsiveness
     ============================*/
 /* @media (max-width: 768px) {
    #calendar .weekdays, #calendar .other-month {
      display: none;
    }
    #calendar li {
      height: auto !important;
      border: 1px solid #ededed;
      width: 100%;
      padding: 10px;
      margin-bottom: -1px;
    }
    #calendar .date {
      float: none;
    }
  }
  */
  /*식단*/
  p {
    margin: 0;
    color: white;
  }

  .meal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: rgb(77, 75, 75);
    font-size: 1.2rem;
    font-weight: bold;

  }

  .indicator .title {
    color: white;
    cursor: pointer;
  }



  #meal {

  }

  #meal > .header {
    text-align: center;
    margin-bottom: 1rem;
  }

  #meal .header .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: .25rem;
  }

  #meal .header .link {
    text-decoration: none;
    color: #F0755B;
  }

  #meal .menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


  }

  #meal .menus .menu {
    flex: 1 1;
    max-width: calc(33% - 1rem);
  }

  #meal .menus .menu + .menu {
    margin-left: 1rem;
  }

  #meal .menus .menu .header {
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
    background-color: #140b4b;
  }

  #meal .menus .menu .header .title {
    color: #FFFFFF;
  }

  #meal .menus .menu .body {
    height: 400px;
    padding: 1rem;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;

    background-color: white;
  }

  /*330 */

  .res-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
  }

 .res-container .title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: .25rem;
    text-align: center;
    color: white;
  }

  #res{
    text-align: left;
    font-size: 2rem;
  }
  .state-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .possible, .impossible {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
  }

  .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .possible .circle {
    background-color: #0000FF;
  }

  .impossible .circle {
    background-color: #FF0000;
  }

  .state {
    margin-left: .5rem;
  }

  #res .sectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
  }

  #res .sectors .sector1 {
    flex: 1 1;
    max-width: 25%;
    background-color: #140b4b;
    color: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  }

  #res .sectors .sector2 {
    flex: 1 1;
    max-width: 25%;
    background-color: #140b4b;
    color: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  }

  #res .sectors .sector3 {
    flex: 1 1;
    max-width: 25%;
    background-color: #140b4b;
    color: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  }

  #res .sectors .sector4 {
    flex: 1 1;
    max-width: 25%;
    background-color: #140b4b;
    color: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  }

  #res .sectors .sector5 {
    flex: 1 1;
    max-width: 25%;
    background-color: black;
    color: rgb(5, 5, 5);

  }

  #res .sectors .sector6 {
    flex: 1 1;
    max-width: 25%;
    background-color: #140b4b;
    color: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  }

  #res .sectors .sector7 {
    flex: 1 1;
    max-width: 25%;
    background-color: #140b4b;
    color: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  }

  #res .sectors .sector8 {
    flex: 1 1;
    max-width: 25%;
    background-color: black;
    color: rgb(5, 5, 5);

  }
  #res .sectors .body {
    height: 300px;
    padding: 1rem;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
    background-color:  #0000FF;
  }

  #res .sectors .body.active{
    background-color:  #FF0000;
  }
