<section id="calendar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">일정캘린더</h2>
                <hr class="my-4">
                <div id="calendar-wrap">
                    <header>
                        <h1>2018년 6월</h1>
                        <br>
                    </header>
                    <div id="calendar">
                        <ul class="weekdays">
                            <li>Sunday</li>
                            <li>Monday</li>
                            <li>Tuesday</li>
                            <li>Wednesday</li>
                            <li>Thursday</li>
                            <li>Friday</li>
                            <li>Saturday</li>
                        </ul>
                        <!-- Days from previous month -->
                        <ul class="days">
                            <li class="day other-month">
                                <div class="date">27</div>
                            </li>
                            <li class="day other-month">
                                <div class="date">28</div>
                            </li>
                            <li class="day other-month">
                                <div class="date">29</div>
                                <div class="event">
                                    <div class="event-desc">
                                        대동제 시작
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="event-desc">
                                        소프트 중간총회
                                    </div>
                                </div>
                            </li>
                            <li class="day other-month">
                                <div class="date">30</div>
                            </li>
                            <li class="day other-month">
                                <div class="date">31</div>
                                <div class="event">
                                    <div class="event-desc">
                                        대동제 종료
                                    </div>
                                </div>
                            </li>
                            <!-- Days in current month -->
                            <li class="day">
                                <div class="date">1</div>
                            </li>
                            <li class="day">
                                <div class="date">2</div>
                                <div class="event">
                                    <div class="event-desc">
                                        홈 커밍 데이
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Row #2 -->
                        <ul class="days">
                            <li class="day">
                                <div class="date">3</div>
                            </li>
                            <li class="day">
                                <div class="date">4</div>
                            </li>
                            <li class="day">
                                <div class="date">5</div>
                            </li>
                            <li class="day">
                                <div class="date">6</div>
                            </li>
                            <li class="day">
                                <div class="date">7</div>
                            </li>
                            <li class="day">
                                <div class="date">8</div>
                            </li>
                            <li class="day">
                                <div class="date">9</div>
                            </li>
                        </ul>
                        <!-- Row #3 -->
                        <ul class="days">
                            <li class="day">
                                <div class="date">10</div>
                            </li>
                            <li class="day">
                                <div class="date">11</div>
                            </li>
                            <li class="day">
                                <div class="date">12</div>
                            </li>
                            <li class="day">
                                <div class="date">13</div>
                                <div class="event">
                                    <div class="event-desc">
                                        선희 생일
                                    </div>
                                </div>
                            </li>
                            <li class="day">
                                <div class="date">14</div>
                            </li>
                            <li class="day">
                                <div class="date">15</div>
                                <div class="event">
                                    <div class="event-desc">
                                        성적입력 시작
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="event-desc">
                                        기말고사 시작
                                    </div>
                                </div>
                            </li>
                            <li class="day">
                                <div class="date">16</div>
                            </li>
                        </ul>
                        <!-- Row #4 -->
                        <ul class="days">
                            <li class="day">
                                <div class="date">17</div>
                            </li>
                            <li class="day">
                                <div class="date">18</div>
                            </li>
                            <li class="day">
                                <div class="date">19</div>
                            </li>
                            <li class="day">
                                <div class="date">20</div>
                            </li>
                            <li class="day">
                                <div class="date">21</div>
                                <div class="event">
                                    <div class="event-desc">
                                        기말고사 종료
                                    </div>
                                </div>
                            </li>
                            <li class="day">
                                <div class="date">22</div>
                                <div class="event">
                                    <div class="event-desc">
                                        하기방학 시작
                                    </div>
                                </div>
                            </li>
                            <li class="day">
                                <div class="date">23</div>
                            </li>
                        </ul>
                        <!-- Row #5 -->
                        <ul class="days">
                            <li class="day">
                                <div class="date">24</div>
                            </li>
                            <li class="day">
                                <div class="date">25</div>
                                <div class="event">
                                    <div class="event-desc">
                                        제 2전공 및 계절수업 시작
                                    </div>
                                </div>
                            </li>
                            <li class="day">
                                <div class="date">26</div>
                            </li>
                            <li class="day">
                                <div class="date">27</div>
                            </li>
                            <li class="day">
                                <div class="date">28</div>
                            </li>
                            <li class="day">
                                <div class="date">29</div>
                            </li>
                            <li class="day">
                                <div class="date">30</div>
                            </li>
                        </ul>
                    </div>
                    <!-- /. calendar -->
                </div>
                <!-- /. wrap -->
            </div>
        </div>
    </div>
</section>

<section id="diet">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">식단</h2>
                <hr class="my-4">
                <div class="meal-container">
                    <div class="indicator">
                        <p class="title" *ngFor="let cafeteria of cafeterias; let i = index" (click)="current = i">{{ cafeteria }}</p>
                    </div>
                    <div id="meal">
                        <div class="header">
                            <p class="title">{{date}}{{ this.cafeterias[current] }}</p>
                            <a class="link" href="http://kumoh.ac.kr/homepage/default/page/subLocation.do?menu_no=100105020601">학생 식당 전체 식단표 보기</a>
                        </div>
                        <div class="menus" *ngIf="breakfast && lunch && dinner">
                            <div id="breakfast" class="menu">
                                <div class="header">
                                    <p class="title">아침</p>
                                </div>
                                <div class="body">
                                    {{ breakfast[current] }}
                                </div>
                            </div>
                            <div id="lunch" class="menu">
                                <div class="header">
                                    <p class="title">점심</p>
                                </div>
                                <div class="body">
                                    {{ lunch[current] }}
                                </div>
                            </div>
                            <div id="dinner" class="menu">
                                <div class="header">
                                    <p class="title">저녁</p>
                                </div>
                                <div class="body">
                                    {{ dinner[current] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">330예약현황 조회</h2>
                <a class="link" href="http://se.kumoh.ac.kr/booking_system/main">330 예약 홈페이지</a>

                <hr class="my-4">
                <div class="res-container">
                    <div id="res">
                        <p class="title">{{date}} 330 예약 현황</p>
                        <div class="state-container">
                            <div class="possible">
                                <div class="circle"></div>
                                <p class="state">예약 가능</p>
                            </div>
                            <div class="impossible">
                                <div class="circle"></div>
                                <p class="state">예약 불가능</p>
                            </div>
                        </div>
                        <div class="sectors">
                            <div class="sector1">A1
                                <div class="body" [ngClass]="{'active': a1 === false}">

                                </div>
                            </div>
                            <div class="sector2">A2
                                <div class="body" [ngClass]="{'active': a2 === false}">

                                </div>
                            </div>
                            <div class="sector3">A3
                                <div class="body" [ngClass]="{'active': a3 === false}">

                                </div>
                            </div>

                            <div class="sector4">A4
                                <div class="body" [ngClass]="{'active': a4 === false}">

                                </div>
                            </div>
                        </div>
                        <div class="sectors">
                            <div class="sector5">
                            </div>
                            <div class="sector6">B1
                                <div class="body" [ngClass]="{'active': b1 === false}">
                                </div>
                            </div>
                            <div class="sector7">B2
                                <div class="body" [ngClass]="{'active': b2 === false}">

                                </div>
                            </div>
                            <div class="sector8">

                            </div>
                        </div>
                        출입구
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>