<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kumoh Smart</title>
  </head>

  <body id="page-top">
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>KUMOH SMART</strong>
            </h1>
            <hr>
          </div>
          <div id="kakao-login-container" class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Kumoh National Institute of Technology SNS</p>
            <p >
                <!--<a class='btn btn-primary btn-xl' href='http://localhost:3000/auth/login/kakao'>Login</a>-->
            </p>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
